page-home {

}

.news-image {
    width: 300px; 
    height: 150px;
}

.read-button {
    left: 175px;
}
    
.logo {
    width: 300px;
    heigth: 60px;
}

.title {
    font-style: oblique;
    font-size: 0px;
}